In [1]:
# Importing libraries.
import numpy as np
import pandas as pd
from scipy.stats import kurtosis
from scipy.stats import skew

In [2]:
# Importing dataset
url = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url,error_bad_lines =False)
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [3]:
# Duplicating dataset.
fuel_copy = fuel_data.copy()

### Question 1

In [4]:
# Creating an identity matrix
hold = np.identity(3)
hold

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 2

In [5]:
# Percentage change in fuel cost per unit burned in 1998 compared to 1994
coal = fuel_copy[fuel_copy['fuel_type_code_pudl'] == 'coal']
F1994 = coal[coal['report_year'] == 1994]
FCPB_4 = F1994['fuel_cost_per_unit_burned'].sum()

F1998 = coal[coal['report_year'] == 1998]
FCPB_8 = F1998['fuel_cost_per_unit_burned'].sum()

In [6]:
PERCENT = FCPB_8 / FCPB_4 * 100

In [7]:
PERCENT_CHANGE = PERCENT - 100
print("Percent Change : %.2f" %PERCENT_CHANGE )

Percent Change : -20.57

### Question 3

In [8]:
# Features with second and third lowest correlation to fuel cost per unit burned.
fuel_copy[fuel_copy.columns].corr()['fuel_cost_per_unit_burned']

# Answer: fuel_qty_burned and utility_id_ferc1

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 4

In [9]:
""" Answer : categorical and mode imputation, """

' Answer : categorical and mode imputation, '

### Question 5

In [10]:
# Year with highest average fuel cost per unit delivered.
check_max = max(fuel_copy.groupby('report_year')['fuel_cost_per_unit_delivered'].mean())
[fuel_copy.groupby('report_year')['fuel_cost_per_unit_delivered'].mean() == check_max]
# Answer : 1997

[report_year
 1994    False
 1995    False
 1996    False
 1997     True
 1998    False
 1999    False
 2000    False
 2001    False
 2002    False
 2003    False
 2004    False
 2005    False
 2006    False
 2007    False
 2008    False
 2009    False
 2010    False
 2011    False
 2012    False
 2013    False
 2014    False
 2015    False
 2016    False
 2017    False
 2018    False
 Name: fuel_cost_per_unit_delivered, dtype: bool]

### Question 6

In [11]:
# What feature has missing values, total amount of missing values and percentage of missing rows
fuel_copy.isnull().sum()

# Answer : feature: fuel_unit, total amount missing : 180, percentage :0.61

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [12]:
# Percentage Calculation.
check = (180/len(fuel_copy)) * 100
round(check,2)

0.61

### Proof to Question 4

In [13]:
fuel_copy['fuel_unit'].value_counts() # most occuing value : mcf

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [14]:
# Filling the NaN cells with a value of mcf .
fuel_copy[['fuel_unit']] = fuel_copy[['fuel_unit']].fillna(value='mcf')

### Question 7

In [15]:
# What is skewness and kurtosis for fuel quantity burned to two decimal places.
qty_burned = fuel_copy['fuel_qty_burned']
kurt = kurtosis(qty_burned)
skew  = skew(qty_burned)
print("Kurtosis : %.2f" %kurt)
print("Skewness : %.2f" %skew)

Kurtosis : 651.26
Skewness : 15.85

### Question 8

In [16]:
# What is the standard deviation and 75th percentile of the of the measure of energy per unit in two decimal places

standard = fuel_copy['fuel_mmbtu_per_unit'].std()
percentile75 = fuel_copy['fuel_mmbtu_per_unit'].quantile(.75)

print("Standard deviation : %.2f" %standard)
print("75th Percentile : %.2f" %percentile75)

Standard deviation : 10.60
75th Percentile : 17.01

### Question 9

In [17]:
# Fuel type code that has the lowest average per unit burned
find_min = min(fuel_copy.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean())
[fuel_copy.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean() ==  find_min]

# Answer : gas

[fuel_type_code_pudl
 coal       False
 gas         True
 nuclear    False
 oil        False
 other      False
 waste      False
 Name: fuel_cost_per_unit_burned, dtype: bool]

### Question 10

In [18]:
# creating a new list [1,2,3,5,6,13,21,34]
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]